<div>
  <div class="header">
    <status-icon connected="user.connected" />{{ user.username }}
  </div>

  <ul class="messages">
    <li ng-repeat="message in user.messages" class="message">
      <div ng-if="displaySender(message, $index)" class="sender">
        {{ message.fromSelf ? "(yourself)" : user.username }}
      </div>
      {{ message.content }}
    </li>
  </ul>

  <form ng-submit="onSubmit(input)" class="form">
    <textarea
      ng-model="input"
      placeholder="Your message..."
      class="input"
    ></textarea>
    <button ng-disabled="!isValid()" class="send-button">Send</button>
  </form>
</div>

<style scoped>
  .header {
    line-height: 40px;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;
  }

  .messages {
    margin: 0;
    padding: 20px;
  }

  .message {
    list-style: none;
  }

  .sender {
    font-weight: bold;
    margin-top: 5px;
  }

  .form {
    padding: 10px;
  }

  .input {
    width: 80%;
    resize: none;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #000;
  }

  .send-button {
    vertical-align: top;
  }
</style>
